#darkMode {
	background: transparent url("../images/moon.png") no-repeat center;
	background-size: 30px 30px;
	width: 45px;
	height: 45px;
	filter: grayscale(100%);
	border: none;
	border-radius: 50%;
	background-color: white;
	transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
	margin: 1em 10%;
}

#darkMode:hover,
#darkMode:focus {
	filter: none;
	background-color: black;
	cursor: pointer;
}

#darkMode.clicked {
	filter: none !important;
	background-color: black;
}
