footer {
	background-color: rgb(56, 56, 56);
	width: 100%;
}

footer p {
	color: white;
	margin: 0;
	padding: 1rem 0;
	font-weight: var(--bitBold);
}

footer span {
	margin: auto;
	justify-content: space-between;
	display: flex;
	width: 80%;
	padding: 0.5rem;
}

#spanLine {
	border-top: white solid 2px;
}

.footerLink a {
	text-decoration: none;
}

.footerLink p:hover {
	color: var(--logoGreen);
	scale: 1.1;
}
