header {
	display: flex;
	justify-content: space-between;
	background-color: rgb(44, 44, 44);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

header h1 {
	color: white;
	margin: 0;
	padding: 1rem;
}

#logo {
	margin: 1rem;
}

.headerContols {
	display: flex;
}

#headerLinks {
	margin-right: 10rem;
	padding: 20px;
}

#headerLinks p {
	color: white;
	margin: 0;
	padding: 1rem;
	font-weight: 600;
}

#headerLinks a {
	text-decoration: none;
}

#headerLinks p:hover {
	color: #30d95d;
	scale: 1.1;
}

.headerToggles {
	margin-right: 50px;
}

#menuIcon :active {
	color: #30d95d;
	scale: 1.1;
}

.modalMain {
	margin-top: 7rem;
}

.modalLinks p {
	font-size: 2rem;
	font-weight: 700;
	color: white;
}

.modalLinks a {
	text-decoration: none;
}

.modalLinks p:active {
	color: #30d95d;
}

.modalToggles {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.modalToggles span {
	scale: 1.1;
	margin: auto;
}

.modalSocialLinks {
	margin-top: 50%;
	display: flex;
	justify-content: space-evenly;
}

.modalLastDiv {
	margin-top: 10%;
	padding-top: 5%;
	border-top: white 2px solid;
}

.modalLastDiv p {
	color: #30d95d;
	text-align: center;
}
