header {
	display: flex;
	justify-content: space-between;
	background-color: rgb(44, 44, 44);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

header h1 {
	color: white;
	margin: 0;
	padding: 1rem;
}

#logo {
	margin: 1rem;
}

.headerContols {
	display: flex;
}

#headerLinks {
	margin-right: 10rem;
	padding: 20px;
}

#headerLinksProfile {
	margin-right: 10rem;
	height: 80px;
	padding: 20px;
	font-weight: 500;
	font-size: 1.3rem;
	color: var(--logoGreen);
	background: inherit;
	cursor: pointer;
}

#headerLinksProfile:hover {
	color: green;
}

#headerLinks p {
	color: white;
	margin: 0;
	padding: 1rem;
	font-weight: var(--bitBold);
}

#headerLinks a {
	text-decoration: none;
}

#headerLinks p:hover {
	color: var(--logoGreen);
	scale: 1.1;
}

.headerToggles {
	margin-right: 50px;
}

#menuIcon :active {
	color: var(--logoGreen);
	scale: 1.1;
}

.modalMain {
	margin-top: 7rem;
}

.modalLinks p {
	font-size: 2rem;
	font-weight: var(--bitBold);
	color: white;
}

.modalLinks a {
	text-decoration: none;
}

.modalLinks p:active {
	color: var(--logoGreen);
}

.modalToggles {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.modalToggles span {
	scale: 1.1;
	margin: auto;
}

.modalSocialLinks {
	margin-top: 50%;
	display: flex;
	justify-content: space-evenly;
}

.modalLastDiv {
	margin-top: 10%;
	padding-top: 5%;
	border-top: white 2px solid;
}

.modalLastDiv p {
	color: var(--logoGreen);
	text-align: center;
}

.DropDownBoxLinks {
	position: absolute;
	right: 180px;
	background-color: white;
	width: 9.5em;
	position: absolute;
	z-index: 3;
	margin: 80px;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
}

.DropDownBoxLinks a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.DropDownBoxLinks a:hover {
	color: var(--logoGreen);
}

.Backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 5;
}

.ReactModal__Overlay {
	opacity: 0;
	/* transform: translateY(-100px); */
	transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
	/* transform: translateY(0px); */
}

.ReactModal__Overlay--before-close {
	opacity: 0;
	/* transform: translateY(-100px); */
}
